---
import Layout from '../layouts/Layout.astro';
import '../pages/styles/style.css';
---

<Layout>
	<main>
		<h1><span class="text-gradient">Languessr</span></h1>
		<div id="all">
		<div id="left-half">
			<p class="instructions">
				A mystery language has these phonemes:
				<button id="start" class="legal-button">Next Round</button>
				<button id="new" class="legal-button">New Game</button>
				<br/>
			</p>
			<div id="tables">
				<table id="consonants"><tr>
						<td>Consonants</td> <td>Labial</td> <td>Coronal</td> <td>Retroflex</td> <td>Palatal</td> <td>Velar</td> <td>Laryngeal</td>
					</tr> <tr>
						<td>Nasal</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
					</tr> <tr>
						<td>Plosive</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
					</tr> <tr>
						<td>Affricate</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
					</tr> <tr>
						<td>Fricative</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
					</tr> <tr>
						<td>Liquid</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
					</tr> <tr>
						<td>Non-Pulmonic</td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
					</tr>
				</table>
				<br>
				<div id="vocoids">
					<table id="vowels"><tr>
							<td>Vowels</td> <td>Front</td> <td>Central</td> <td>Back</td>
						</tr> <tr>
							<td>Close</td> <td></td> <td></td> <td></td>
						</tr> <tr>
							<td>Close-Mid</td> <td></td> <td></td> <td></td>
						</tr> <tr>
							<td>Open-Mid</td> <td></td> <td></td> <td></td>
						</tr> <tr>
							<td>Open</td> <td></td> <td></td> <td></td>
						</tr>
					</table>
					<br>
					<table id="tones"><tr>
							<td>Level Tones</td><td>Contour Tones</td>
						</tr> <tr>
							<td style="height:30px;"></td> <td></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div id="right-half">
			<p class="instructions">
				Guess where the language is on the map:
				<span id="righties">
					<input id="preguess" placeholder="Or guess its name:"/>
					<button id="reveal">Guess</button>
				</span>
				<br/>
			</p>
			<div id="map"></div>
			<br>
			<p id="answer"></p>
			<p id="result"></p>
			<p id="score">Round 1 - Score: 0</p>
		</div>
		</div>
		<p id="cite" title="
		Moran, Steven & McCloy, Daniel (eds.) 2019.
PHOIBLE 2.0.
Jena: Max Planck Institute for the Science of Human History.
(Available online at http://phoible.org, Accessed on 2023-05-25.)
		">Site by Reetam - Data from PHOIBLE</p>
	</main>
</Layout>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="../scripts/main.js"></script>