main {
    margin: auto;
    color: rgb(var(--accent-light));
    font-size: 32px;
    line-height: 1.6;
    min-width: 393px;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 0.4em;
}
.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
}
.instructions strong {
    color: rgb(var(--accent-light));
}
button {
    float: right;
    background-color: rgb(var(--accent));
    border: 3px solid rgb(var(--accent-dark));
    border-radius: 6px;
    height: 32px;
    color: black;
    font-size: 16px;
    transition-duration: 0.4s;
    vertical-align: center;
}
#righties {
    display: flex;
		max-width: 50%;
		margin-left: auto;
		float: right;
}
#reveal {
    margin-top: auto;
    margin-bottom: 0px;
}
input {
    background-color: rgb(var(--accent));
    border: 3px solid rgb(var(--accent-dark));
    border-radius: 6px;
    height: 25px;
    margin-right: 5px;
    color: black;
    float: none;
	max-width: 120px;
}
input::placeholder {
    color: rgb(var(--accent-dark));
}
#new, #pghold {
    margin-left: auto;
    margin-right: 5px;
}
.legal-button:hover {
    background-color: rgb(var(--accent-light));
}
#answer, #result, #score {
    text-align: center;
    margin-top: 5px;
}
table, td {
    border: 2px solid rgb(var(--accent-dark));
    border-radius: 4px;
    background-color: rgb(var(--accent));
    padding-left: 3px;
    padding-right: 3px;
    margin: auto;
}
#map {
    background-color: blue;
    height: 30vh;
    min-height: 300px;
    width: 90%;
    margin: auto;
}
#the {
    display: inline-block;
}
ol {
    margin-bottom: 10px;
}
#vocoids {
    display: flex;
} #tones {
    height: 30px;
    float: right;
    align-self: right;
    width: 45%;
} #consonants {
    width: 90%;
} #vowels {
    width: 35%;
}
#answer, #result {
    width: 90%;
    text-align: center;
    margin: auto;
    max-width: 90%;
    clear: left;
}
#cite {
    margin: auto;
    text-align: center;
}

@media (orientation: landscape) {
    main {
		margin: auto;
		color: rgb(var(--accent-light));
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.4em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		width: 50%;
		min-width: 50%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	button {
		float: right;
		background-color: rgb(var(--accent));
		border: 3px solid rgb(var(--accent-dark));
		border-radius: 6px;
		vertical-align: center;
		height: 32px;
		width: auto;
		color: black;
		font-size: 16px;
		transition-duration: 0.4s;
	}
	#righties {
		display: flex;
		max-width: 50%;
		margin-left: auto;
		float: right;
	}
	input {
		background-color: rgb(var(--accent));
		border: 3px solid rgb(var(--accent-dark));
		border-radius: 6px;
		height: 25px;
		margin-right: 5px;
		color: black;
		float: none;
		width: 120px;
	}
	input::placeholder {
		color: rgb(var(--accent-dark));
	}
	#new, #pghold {
		margin-left: auto;
		margin-right: 5px;
	}
	.legal-button:hover {
		background-color: rgb(var(--accent-light));
	}
	#answer, #result, #score {
		text-align: center;
		margin-top: 5px;
	}
	table, td {
		border: 2px solid rgb(var(--accent-dark));
		border-radius: 4px;
		background-color: rgb(var(--accent));
		padding-left: 3px;
		padding-right: 3px;
	}
	#map {
		background-color: blue;
		width: 90%;
		max-width: 90%;
		margin: auto;
		height: 300px;
	}
	#the {
		display: inline-block;
	}
	ol {
		margin-bottom: 10px;
	}
	#all {
		display: flex;
		justify-content: center;
		margin: auto;
		width: 100%;
		
	}
	#vocoids {
		display: flex;
	}
	#tones {
		height: 30px;
		float: right;
		margin-right: 0px;
		margin-left: auto;
		align-self: right;
	}
    #vowels {
        float: left;
        margin-right: auto;
        margin-left: 0px;
        width: 50%;
    }
	#consonants {
		width: 100%;
	}
	#answer, #result {
		width: 90%;
		text-align: center;
		margin: auto;
		max-width: 90%;
		clear: left;
	}
	#right-half, #left-half {
		max-width: 50%;
		min-width: 50%;
	}
}